html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table {
    border-collapse: collapse;
    width: 90%;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

tr:nth-child(even) {
    background-color: lightgray;
    color: black;
    font: bold;
}