﻿<div class="container text-light" style="max-width:700px;">    
    <h2>Order completed successfully</h2>
    <p>You can check all your orders in the Orders section of your profile</p>
    <a class="btn btn-primary text-white" asp-controller="Orders" asp-action="Index" style="border-radius:3px; margin:10px; padding:10px;">
        <i class="bi bi-cart-plus"></i> Return To Orders
    </a>
    <hr />
    <p>Thank you!</p>    
</div>
