﻿<div class="container text-light" style="max-width:800px;">    
    <h2>Order completed successfully</h2>
    <p>You can check all your orders in the Orders section of your profile</p>
    <hr />
    <p>Thank you!</p>    
</div>
