<div class="container">
    <div class="alert alert-danger text-center">
        <h2>We are sorry to see you leave.</h2>
        <p>Your account has now been removed. Thank you for shopping with us and feel free to join us anytime.</p>
        <h3>Have a great day.</h3>
        <hr />
        <a class="btn btn-outline-primary my-2 my-sm-0" style="margin-top:10px;" asp-controller="Product" asp-action="Index"><i class="bi bi-person-plus"></i> Home</a>        
    </div>
</div>
